body{ 
	padding-top: 100px;
}


.destacar:hover{
	background:#777c8469
}

a.grupo{
	margin-left:5px;
	font-size: 17px;
}

a.item{
	margin-left:10px;
	font-size: 16px;	
}

a.sub-item{
	margin-left:15px;
	font-size: 15px;	
}

.subgrupo{
	font-size: 16px;
}
a.change-css{
	margin-left:10px;
	color:#ff0000 !important;
}

 /*.row {
          border: 1px solid red;
        } */