{% extends 'base.html'%}

{% block title%} Cotação{%endblock%}

{% block content %}
	
<div class="container-fluid">

	<div class="row">
		<div class="col-lg-4"></div>
		<form method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }}
			</br>
			<!--div class="row"><h3>Cotação</h3></div-->
			<!-- TXT Busca e Button-->
			</br>
			<div class="row">
				<div class="col-10"> {{form.txtBusca(class_="form-control")}} </div>
				<div class="col-2"><button type="submit"  class="btn btn-default">Buscar</button></div>

			</div>
			</br>
			<!--Radiobutton tipo de visualização-->
			{% for subfield in  form.rdPesquisaPor %}
				<tr>
					<td>{{subfield}}</td>
					<td>{{subfield.label}}</td>
				</tr>
			{% endfor %}

			</br>

		</form>
	</div>
		<div class="col-12">
			<table id="tb_cot" class="display" style="width:100%">
				<thead>
					<tr>

						<th>Fonte</th>
						<th>Mercado</th>
						<th>Tipo Ativo</th>

					</tr>
				</thead>
			</table>
		</div>

	</div>
</div>
</br>
<footer class="py-2 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; PPP Digital 2018</p>
	</div>
</footer>
{% endblock %}

{% block scripts %}
	<script>
		function format(d){
        return 'teste'
    }

$(document).ready(function() {

    var table = $('#tb_cot').DataTable({
        "language":{
                "search": "Procurar:",
                "paginate":{
                        "first":      "Primeira",
                        "last":       "Última",
                        "next":       "Próxima",
                        "previous":   "Anterior"
                    },
               "info": "Mostrando de _START_ a _END_ de _TOTAL_",
               "lengthMenu":     "Mostrando _MENU_ Linhas",
            },

        "ajax": $SCRIPT_ROOT + "/cotVisuPrin",
        "columns": [

                    { "data": "_id" },
                    {
                        "data": "mercados",

                        "render": function(data, row, meta){
                                    var strMerc = '';
                                    var i = 0;
                                    var tam=data.length;
                                    var urlBase = "{{ url_for('cotacao', merc = 'XXXX') }}";
                                    for(i=0; i < tam ; i++){

                                        if( i == tam-1){

                                            strMerc = strMerc+'<a href="'+urlBase.replace('XXXX', meta.row) +'">'+data[i]+'</a>';
                                        }else{
                                            strMerc = strMerc+"<a href=\""+urlBase.replace('XXXX', row) +"\">"+data[i]+"</a> | ";
                                        }
                                    };

                                    return strMerc;
                                }
                    },
                    { "data": "tp_instr",
                        "render": function(data, row, meta){
                                    var strInstr = '';
											var i = 0;
                                    var tam=data.length;
                                    var urlBase = "{{ url_for('cotacao', TpInst = 'XXXX') }}";
                                    for(i=0; i < tam ; i++){

                                        if( i == tam-1){

                                            strInstr = strInstr+'<a href="'+urlBase.replace('XXXX', meta.row) +'">'+data[i]+'</a>';
                                        }else{
                                            strInstr= strInstr+"<a href=\""+urlBase.replace('XXXX', meta.row) +"\">"+data[i]+"</a> | ";
                                        }
                                    };
                                    return strInstr;
                                }
                    }

                ],
        "order": [[0, 'asc']]
    });

    $('#tb_cot tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
    } );

} );
	</script>
{% endblock %}