{% extends 'base.html'%}

{% block title%} Home {%endblock%}

{% block content %}

    <!-- SLIDER -->
    <section class="slider d-flex align-items-center">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>Seja Bem Vindo!</h1>
                                    <h5>Aqui você encontra Informações e Políticas de Comercialização </br>de todos os Produtos e Serviços Broadcast.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="O que você está procurando?" class="btn-group1">
                                        <button type="submit" class="btn-form primary"><span class="icon-magnifier search-icon"></span>Buscar<i class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>
                                <!--div class="slider-link">
                                    <a href="#">Browse Popular</a><span>or</span> <a href="#">Recently Addred</a>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Explore mais Nossos Conteúdos</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <a href="{{url_for('ppp')}}">
                                <img src="../static/images/find-place1.jpg" class="img-fluid" alt="img13" />
                                <figcaption>
                                    <h5>Conteúdos VS Pacotes</h5>
                                    <p>{qtd} Serviços </p>
                                </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href="{{url_for('noticiosos')}}">
                                        <img src="../static/images/find-place2.jpg" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Notíciosos</h5>
                                            <p>{qtd} Cadernos</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <a href="#">
                                        
                                        <img src="{{url_for('static', filename='images/find-place3.jpg')}}" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Cotações</h5>
                                            <p>{qtd} Bolsas</p>
                                        </figcaption>
                                            </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="{{url_for('static', filename='images/find-place4.jpg')}}" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Ferramentas</h5>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="{{url_for('static', filename='images/find-place5.jpg')}}" class="img-fluid" alt="img13" />
                                        <figcaption>
                                            <h5>Outros</h5>
                                            <p>79 Listings</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}




</body>

</html>
