{% extends 'base.html'%}

{% block title%} Cotação{%endblock%}

{% block content %}

<div class="container-fluid">
</br>
		</br>
	<div class="row">

		<div class="col-lg-4"><h3>{{ ref }}</h3></div>

		<!--<form method="POST" enctype="multipart/form-data">
			{{ form.csrf_token }}
			</br>
			<!--div class="row"><h3>Cotação</h3></div-->

<!-- TXT Busca e Button


			</br>

		<div class="row">
				<div class="col-10"> {{form.txtBusca(class_="form-control")}} </div>
				<div class="col-2"><button type="submit"  class="btn btn-default">Buscar</button></div>

			</div>
			</br>
<!--Radiobutton tipo de visualização
			{% for subfield in  form.rdPesquisaPor %}
				<tr>
					<td>{{subfield}}</td>
					<td>{{subfield.label}}</td>

				</tr>
			{% endfor %}

			</br>

		</form> -->

	</div>
	{% if param1[2]=='1'%}
		<div class="col-12">
			<table id="tb_cot" class="display" style="width:100%">
				<thead>
					<tr>

						<th>Fonte</th>
						<th>Mercado</th>
						<th>Tipo Ativo</th>

					</tr>
				</thead>
				<tbody>
					{% for x in results %}
					<tr>

						<td>{{x['_id']}}</td>
						<td>
							{% for y in x['mercados']%}
							<a href="#">{{y}}</a> ,
							{% endfor%}
						</td>
						<td>
							{% for y in x['tp_instr']%}
							<a href="#">{{y}}</a> ,
							{% endfor%}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/js/cotacao_v2.js"></script>
{% endblock %}