{% extends 'base.html'%}

{% block title%} Conteúdo vs Pacotes {%endblock%}

{%block css %}
<style>
    body{ padding-top: 100px}

</style>
{%endblock%}

{% block content %}
    <div class="content-fluid">
        <form>
                    
            <div class="form-group">
                <label for="selectPlataforma">Selecione a Plataforma</label>
                <select class="form-control" id="selectPlataforma">
                    <option>Broadcast+</option>
                    <option>Broadcast Agro</option>
                    <option>Broadcast Web</option>
                </select>
            </div>

            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="trade" checked>
                    <label class="form-check-label" for="trade" >Trade</label>
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="trade-aai" checked>
                    <label class="form-check-label" for="trade-aai">Trade AAI </label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="conjuntura" checked>
                    <label class="form-check-label" for="conjuntura">Conjuntura</label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="mercados-bs" checked>
                    <label class="form-check-label" for="mercados-bs">Mercados Buy-Side</label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="mercados" checked>
                    <label class="form-check-label" for="mercados">Mercados</label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="news-bs" checked>
                    <label class="form-check-label" for="news-bs">News Buy-Side</label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="news" checked>
                    <label class="form-check-label" for="news">News</label>&nbsp;&nbsp;
            </div>
            <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="analises" checked>
                    <label class="form-check-label" for="analises">Análises</label>
            </div>
        </form>
        </br>    

        <div class="row">
            <div class="col-2">Conteúdos</div>
            <div class="col text-center" id="trade-lb">Trade</div>
            <div class="col text-center" id="trade-aai-lb">Trade AAI</div>
            <div class="col text-center" id="conjuntura-lb">Conjuntura</div>
            <div class="col text-center" id="mercados-bs-lb">Mercados</br>Buy-Side</div>
            <div class="col text-center" id="mercados-lb">Mercados</div>
            <div class="col text-center" id="news-bs-lb">News Buy-Side</div>
            <div class="col text-center" id="news-lb">News</div>
            <div class="col text-center" id="analises-lb">Análises</div>
        </div>
        
        <div class="row">
            <div class="col-2">
                <p><a href="#Noticias-collapse" data-toggle="collapse" aria-controls="Noticias-collapse">Notícias</a></p>
            </div>
            <div class="col text-center" id="n-trade">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-trade-aai">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-mercados-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-conjuntura">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-mercados">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-news-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-news">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="n-analises">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
        </div>
        <div class="collapse" id="Noticias-collapse">
            <!--Bloco que deve se repetir com os demais cadernos-->
            <div class="row">
                <div class="col-2">
                    &nbsp;&nbsp;<a href="#">AE News</a>
                </div>
                <div class="col text-center" id="n-aenews-trade">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-aenews-trade-aai">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-aenews-conjuntura">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-aenews-mercados-bs">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-aenews-mercados">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-aenews-news-bs">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-aenews-news">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-aenews-analises">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
            </div>
            <!--Final do Bloco que deve se repetir com os demais cadernos-->
            <div class="row">
                
                <div class="col-2">
                    &nbsp;&nbsp;<a href="#">Empresas e Setores</a>
                </div>
                <div class="col text-center" id="n-empset-trade">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-empset-trade-aai">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-empset-conjuntura">
                    <img src="{{url_for('static', filename='images/icons/nocheck.png')}}" alt="nocheck">
                </div>
                <div class="col text-center" id="n-empset-mercados-bs">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-empset-mercados">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-empset-news-bs">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-empset-news">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
                <div class="col text-center" id="n-empset-analises">
                    <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                </div>
            </div>
        </br>
        </div>
        <!--Bloco Cotação-->
        <div class="row">
            <div class="col-2">
                <p><a href="#Cotacao-collapse" data-toggle="collapse" aria-controls="Cotacao-collapse">Cotações</a></p>
            </div>
            <div class="col text-center" id="c-trade">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-trade-aai">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-mercados-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-conjuntura">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-mercados">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-news-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-news">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="c-analises">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
        </div>
        
        <div class="collapse" id="Cotacao-collapse">
            
            <div class="row">
                <div class="col">
                    <!--SubBloco Ações-->
                    <div class="row">
                        <div class="col-2">
                            <p>&nbsp;&nbsp;<a href="#Cotacao-Acoes-collapse" data-toggle="collapse" aria-controls="Cotacao-Acoes-collapse">Ações</a></p>
                        </div>
                        <div class="col text-center" id="c-a-trade">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-trade-aai">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-mercados-bs">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-conjuntura">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-mercados">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-news-bs">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-news">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-a-analises">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                    </div>
                    <div class="collapse" id="Cotacao-Acoes-collapse">
                        <div class="row">
                            <div class="col-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Bovespa</a>
                            </div>
                            <div class="col text-center" id="c-a-bov-trade">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-trade-aai">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-conjuntura">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-mercados-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-mercados">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-news-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-news">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-bov-analises">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Nyse</a>
                            </div>
                            <div class="col text-center" id="c-a-nyse-trade">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-trade-aai">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-conjuntura">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-mercados-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-mercados">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-news-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-news">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyse-analises">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Nyse Amex</a>
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-trade">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-trade-aai">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-conjuntura">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-mercados-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-mercados">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-news-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-news">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-a-nyseamex-analises">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                        </div>
                        </br>
                    </div>
                    <!--Final do SubBloco Ações-->                    
                    <!--SubBloco Derivativos-->
                    <div class="row">
                        <div class="col-2">
                            <p>&nbsp;&nbsp;<a href="#Cotacao-Derivativos-collapse" data-toggle="collapse" aria-controls="Cotacao-Derivativos-collapse">Derivativos</a></p>
                        </div>
                        <div class="col text-center" id="c-d-trade">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-trade-aai">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-mercados-bs">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-conjuntura">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-mercados">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-news-bs">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-news">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                        <div class="col text-center" id="c-d-analises">
                            <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                        </div>
                    </div>
                    <div class="collapse" id="Cotacao-Derivativos-collapse">
                        <div class="row">
                            <div class="col-2">
                                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">CBOT</a>
                            </div>
                            <div class="col text-center" id="c-d-cbot-trade">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-trade-aai">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-conjuntura">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-mercados-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-mercados">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-news-bs">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-news">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                            <div class="col text-center" id="c-d-cbot-analises">
                                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
                            </div>
                        </div>
                        
                    </div>
                    <!--Final SubBloco Derivativos-->    
                </div>
            </div>
        </br>
        </div>


        <!--Final do Bloco Ações-->
        <div class="row">
            <div class="col-2">
                <p><a href="#Ferramentas-collapse" data-toggle="collapse" aria-controls="Ferramentas-collapse">Ferramentas</a></p>
            </div>
            <div class="col text-center" id="f-trade">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-trade-aai">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-mercados-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-conjuntura">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-mercados">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-news-bs">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-news">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
            <div class="col text-center" id="f-analises">
                <img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check">
            </div>
        </div>

        <div class="collapse" id="Ferramentas-collapse">
            <!--Bloco que deve se repetir com os demais cadernos-->
            <div class="row">
                <div class="col-2">
                    &nbsp;&nbsp;<a href="#">Gráfico</a>
                </div>
                <div class="col text-center" id="f-chart-trade"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-trade-aai"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-conjuntura"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-mercados-bs"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-mercados"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-news-bs"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-news"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-chart-analises"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
            </div>
            <!--Final do Bloco que deve se repetir com os demais cadernos-->
            <div class="row">
                <div class="col-2">
                    &nbsp;&nbsp;<a href="#">Link com Excel</a>
                </div>
                <div class="col text-center" id="f-linkexcel-trade"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-trade-aai"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-conjuntura"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-mercados-bs"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-mercados"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-news-bs"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-news"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
                <div class="col text-center" id="f-linkexcel-analises"><img src="{{url_for('static', filename='images/icons/check.png')}}" alt="check"></div>
            </div>
        </div>

    </div>
{% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{%block scripts%}
<script type="text/javascript">
    $(document).ready(function() {
        $('.fixed').addClass('is-sticky');
    });



    $('#trade').click(function() {
        $("#trade-lb").toggle(this.checked);
        $("#n-trade").toggle(this.checked);
        $("#n-aenews-trade").toggle(this.checked);
        $("#n-empset-trade").toggle(this.checked);
        $("#c-trade").toggle(this.checked);
        $("#c-a-trade").toggle(this.checked);
        $("#c-a-bov-trade").toggle(this.checked);
        $("#c-a-nyse-trade").toggle(this.checked);
        $("#c-a-nyseamex-trade").toggle(this.checked);
        $("#c-d-trade").toggle(this.checked);
        $("#c-d-cbot-trade").toggle(this.checked);
        $("#f-trade").toggle(this.checked);
        $("#f-chart-trade").toggle(this.checked);
        $("#f-linkexcel-trade").toggle(this.checked);
    });
    $('#trade-aai').click(function() {
        $("#trade-aai-lb").toggle(this.checked);
        $("#n-trade-aai").toggle(this.checked);
        $("#n-aenews-trade-aai").toggle(this.checked);
        $("#n-empset-trade-aai").toggle(this.checked);
        $("#c-trade-aai").toggle(this.checked);
        $("#c-a-trade-aai").toggle(this.checked);
        $("#c-a-bov-trade-aai").toggle(this.checked);
        $("#c-a-nyse-trade-aai").toggle(this.checked);
        $("#c-a-nyseamex-trade-aai").toggle(this.checked);
        $("#c-d-trade-aai").toggle(this.checked);
        $("#c-d-cbot-trade-aai").toggle(this.checked);
        $("#f-trade-aai").toggle(this.checked);
        $("#f-chart-trade-aai").toggle(this.checked);
        $("#f-linkexcel-trade-aai").toggle(this.checked);
    });
    $('#conjuntura').click(function() {
        $("#conjuntura-lb").toggle(this.checked);
        $("#n-conjuntura").toggle(this.checked);
        $("#n-aenews-conjuntura").toggle(this.checked);
        $("#n-empset-conjuntura").toggle(this.checked);
        $("#c-conjuntura").toggle(this.checked);
        $("#c-a-conjuntura").toggle(this.checked);
        $("#c-a-bov-conjuntura").toggle(this.checked);
        $("#c-a-nyse-conjuntura").toggle(this.checked);
        $("#c-a-nyseamex-conjuntura").toggle(this.checked);
        $("#c-d-conjuntura").toggle(this.checked);
        $("#c-d-cbot-conjuntura").toggle(this.checked);
        $("#f-conjuntura").toggle(this.checked);
        $("#f-chart-conjuntura").toggle(this.checked);
        $("#f-linkexcel-conjuntura").toggle(this.checked);
    });
    $('#mercados-bs').click(function() {
        $("#mercados-bs-lb").toggle(this.checked);
        $("#n-mercados-bs").toggle(this.checked);
        $("#n-aenews-mercados-bs").toggle(this.checked);
        $("#n-empset-mercados-bs").toggle(this.checked);
        $("#c-mercados-bs").toggle(this.checked);
        $("#c-a-mercados-bs").toggle(this.checked);
        $("#c-a-bov-mercados-bs").toggle(this.checked);
        $("#c-a-nyse-mercados-bs").toggle(this.checked);
        $("#c-a-nyseamex-mercados-bs").toggle(this.checked);
        $("#c-d-mercados-bs").toggle(this.checked);
        $("#c-d-cbot-mercados-bs").toggle(this.checked);
        $("#f-mercados-bs").toggle(this.checked);
        $("#f-chart-mercados-bs").toggle(this.checked);
        $("#f-linkexcel-mercados-bs").toggle(this.checked);
    });
    $('#mercados').click(function() {
        $("#mercados-lb").toggle(this.checked);
        $("#n-mercados").toggle(this.checked);
        $("#n-aenews-mercados").toggle(this.checked);
        $("#n-empset-mercados").toggle(this.checked);
        $("#c-mercados").toggle(this.checked);
        $("#c-a-mercados").toggle(this.checked);
        $("#c-a-bov-mercados").toggle(this.checked);
        $("#c-a-nyse-mercados").toggle(this.checked);
        $("#c-a-nyseamex-mercados").toggle(this.checked);
        $("#c-d-mercados").toggle(this.checked);
        $("#c-d-cbot-mercados").toggle(this.checked);
        $("#f-mercados").toggle(this.checked);
        $("#f-chart-mercados").toggle(this.checked);
        $("#f-linkexcel-mercados").toggle(this.checked);
    });
    $('#news-bs').click(function() {
        $("#news-bs-lb").toggle(this.checked);
        $("#n-news-bs").toggle(this.checked);
        $("#n-aenews-news-bs").toggle(this.checked);
        $("#n-empset-news-bs").toggle(this.checked);
        $("#c-news-bs").toggle(this.checked);
        $("#c-a-news-bs").toggle(this.checked);
        $("#c-a-bov-news-bs").toggle(this.checked);
        $("#c-a-nyse-news-bs").toggle(this.checked);
        $("#c-a-nyseamex-news-bs").toggle(this.checked);
        $("#c-d-news-bs").toggle(this.checked);
        $("#c-d-cbot-news-bs").toggle(this.checked);
        $("#f-news-bs").toggle(this.checked);
        $("#f-chart-news-bs").toggle(this.checked);
        $("#f-linkexcel-news-bs").toggle(this.checked);
    });
    $('#news').click(function() {
        $("#news-lb").toggle(this.checked);
        $("#n-news").toggle(this.checked);
        $("#n-aenews-news").toggle(this.checked);
        $("#n-empset-news").toggle(this.checked);
        $("#c-news").toggle(this.checked);
        $("#c-a-news").toggle(this.checked);
        $("#c-a-bov-news").toggle(this.checked);
        $("#c-a-nyse-news").toggle(this.checked);
        $("#c-a-nyseamex-news").toggle(this.checked);
        $("#c-d-news").toggle(this.checked);
        $("#c-d-cbot-news").toggle(this.checked);
        $("#f-news").toggle(this.checked);
        $("#f-chart-news").toggle(this.checked);
        $("#f-linkexcel-news").toggle(this.checked);
    });
    $('#analises').click(function() {
        $("#analises-lb").toggle(this.checked);
        $("#n-analises").toggle(this.checked);
        $("#n-aenews-analises").toggle(this.checked);
        $("#n-empset-analises").toggle(this.checked);
        $("#c-analises").toggle(this.checked);
        $("#c-a-analises").toggle(this.checked);
        $("#c-a-bov-analises").toggle(this.checked);
        $("#c-a-nyse-analises").toggle(this.checked);
        $("#c-a-nyseamex-analises").toggle(this.checked);
        $("#c-d-analises").toggle(this.checked);
        $("#c-d-cbot-analises").toggle(this.checked);
        $("#f-analises").toggle(this.checked);
        $("#f-chart-analises").toggle(this.checked);
        $("#f-linkexcel-analises").toggle(this.checked);
    });
</script>

{%endblock%}
